{% extends "home/base.html" %}
{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'university-list' %}">University-List</a></li>
        <li class="breadcrumb-item"><a href="{% url 'university-detail' object.university.pk %}">{{ object.university.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ object.name }}</li>
    </ol>
</nav>

<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.university.logo.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'university-detail' object.university.pk %}">{{ object.university.name }}</a>
            {% if user.is_superuser or user.is_staff %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'department-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'department-delete' object.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.name }}</h2>
    </div>
</article>
    {% if user.is_staff or user.is_superuser %}
<a class="btn btn-outline-info mb-4" href="{% url 'admissionnews-create' unipk=object.university.pk %}">Add Admission News</a>
    {% endif %}
{% for news in object.university.admissionnews_set.all %}
<article class="media content-section">
    <div class="media-body">
        <li>
            <a class="article-title" href="{% url 'admissionnews-detail' news.pk %}">{{ news.title }}</a>
        </li>
    </div>
</article>
{% endfor %}
{% endblock content %}