{% extends "home/base.html" %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">

        <li class="breadcrumb-item active" aria-current="page">Quiz-List</li>
    </ol>
</nav>
{% if user.is_superuser or user.is_staff %}
    <a class="btn btn-outline-info mb-3" href="{% url 'quiz-create' %}">Add Modeltest</a>
{% endif %}
<div class="media-body">
        <p class="article-title" style="font-size: x-large; color: darkblue">Total Quizes ==> {{ quizes.count }}</p>
</div>
{% for quiz in quizes %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ quiz.user.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">

        </div>
        {% if user.is_superuser or user.is_staff %}
            <a href="{% url 'quiz-detail' quiz.pk %}"><h2 class="article-title outline-info">{{ quiz.title }}</h2></a>
        {% else %}
            <a href="{% url 'take-quiz' quiz.pk %}"><h2 class="article-title outline-info">{{ quiz.title }}</h2></a>
        {% endif %}
        <p class="article-content">{{ quiz.date }}; {{ quiz.start_time}}</p>

    </div>
</article>
{% endfor %}
{% if is_paginated %}

{% if page_obj.has_previous %}
<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}

{% if page_obj.has_next %}
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif %}

{% endif %}
{% endblock content %}