{% extends "home/base.html" %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'quiz-list' %}">Quiz-List</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ object.title }}</li>
    </ol>
</nav>
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.user.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            {% if object.user == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'quiz-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'quiz-delete' object.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.description }}</p>
    </div>
</article>
<a class="btn btn-outline-info mb-4" href="{% url 'question-create' pk=object.pk%}">Add Question</a>
<article class="content-section">
    <div class="media-body">
        <p class="article-title" style="font-size: x-large; color: darkblue">Question Count ==> {{ object.question_set.count }}</p>
    </div>
</article>
{% for question in questions %}
<article class="media content-section">
    <div class="media-body">
        <a class="list-item list-item-link" href="{% url 'question-detail' question_pk=question.pk quiz_pk=question.quiz.pk %}">{{ forloop.counter }}. {{ question.text }}</a>
    </div>
</article>
{% endfor %}
{% endblock content %}