{% extends 'home/base.html' %}

{% block content %}
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Quiz</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {% for taken_quiz in request.user.student.taken_quizes.all %}
          <tr>
            <td>{{ taken_quiz.quiz.title }}</td>
            <td>{{ taken_quiz.score }}/{{ taken_quiz.quiz.question_set.count }}</td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="3">You haven't completed any quiz yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}